@mixin transition($t) {
  -webkit-transition: all $t ease;
      -moz-transition: all $t ease;
      -o-transition: all $t ease;
      transition: all $t ease;
}

.navbar {
  border-radius: 0;
}

/* Login Form */

.login {
  width: 300px;
  padding: 15px;
  &.open {
    display: block;
  }
  input {
    width: 100%;
    display: block;
  }
  .error {
    display: none;
    color: red;
    &.active {
      display: block;
    }
  }
}

/* Projects Directory */
.project-table {
  margin-top: 50px;
}
.add-new {
  @include transition(0.2s)
  display: none;
  opacity: 0;
  &.active {
    opacity: 1;
    display: block;
  }
}
