.navbar {
  border-radius: 0;
}

/* Login Form */

.login {
  width: 300px;
  padding: 15px;
  &.open {
    display: block;
  }
  input {
    width: 100%;
    display: block;
  }
  .error {
    display: none;
    color: red;
    &.active {
      display: block;
    }
  }
}
